<!DOCTYPE html>
%html
  %head
    %title= $bloginfo_title
    %meta{ :content => '', :name => 'viewport'}
    %link{ :href=> $template_directory_uri.'../lib/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
    - wp_head();
  %body
    %div.container